extends default
block content

    h2=data.user_name

    form(action='/add-todo', method='post')
            .container
                input(type='text', placeholder='Teht채v채n nimi', name='todoitem', required='')
                button(type='submit') Lis채채
                label
    
    ul.todoList
        each todo in data.todos
            //- li(class=todo.complete? 'checked':'')=todo.text
            li=todo.text
                form(action='/toggle-checked',method='post')
                    input(type='hidden' name='todo_id' value=todo.id)
                    button.checkbutton(type='submit') x
                form(action='/delete-todo',method='post')
                    input(type='hidden' name='todo_id' value=todo.id)
                    button.close(type='submit') Poista

block login
    a(href='/logout') Kirjaudu ulos


//- https://html2jade.org/